.posts-page {
  width: 100vw;
  background-color: #9b7bc2;
  color: black;
}

.posts-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 9px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
